:root {
  --primary-text-color: #757575;
  --title-text-color: #000000;
  --accent-color: #2196f3;
  --main-title-text-color: #ffffff;
  --button-color-secondary: #212121;
  --button-bg-color: #f5f4fa;
}

body {
  color: var(--primary-text-color);
  background-color: var(--main-title-text-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
}

ul {
  list-style: none;
}

/* цвет основного текста #000 */

/* вторичный цвет текста #757575 */

/* белый #FFFFFF  */

/* акцент #2196F3 */

/* вторичный цвет фона #F5F4FA */

/* Logo */

.logo {
  color: var(--title-text-color);
  font-family: Raleway, cursive;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-header {
  color: var(--accent-color);
}

button {
  font-family: inherit;
}
/* навигация по сайту */

.site-nav .link {
  color: var(--title-text-color);

  font-style: 400;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-info .link {
  color: var(--primary-text-color);
  text-decoration: none;
}

/* Подстветка текущей страницы */
.site-nav .link.current {
  color: var(--accent-color);
}

/* Hero */

.hero-title {
  color: var(--main-title-text-color);

  font-style: 400;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
}

/* Section */

/* подсветка синим при наведении */
.site-nav .link:hover,
.site-nav link:focus,
.site-info .link:hover,
.site-info link:focus {
  color: var(--accent-color);
}

.section-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  letter-spacing: 0.03em;
}

/* Features */

.feature-list .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature-list .link {
  color: var(--primary-text-color);
}

.feature-list .text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Кнопка */

.button {
  color: var(--main-title-text-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
}

/* Кнопки на странице Портфолио */
.button.link {
  color: var(--button-color-secondary);
  background-color: var(--button-bg-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Наша команда */

.team {
  background-color: var(--button-bg-color);
}

.button.link:hover,
.button.link:focus {
  color: var(--main-title-text-color);
  background-color: var(--accent-color);
}
